<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.email %> et bienvenue chez nous ! (on mord pas)</h1>
    <p>
      Tu tes inscrit sur Kitty's Wall en utilisant le-mail suivant : <%= @user.email %>.
    </p>
    <p>
      <%= link_to "Découvres vite tous les produits de la boutique !", @url %>.
    </p>
    <p> À très vite sur Kitty's Wall !</p>
  </body>
</html>