<div class="row mb-5">
    <div class="col-md-3">
        <h4>Commande n°<%=@order.id%></h4>
    </div>
    <div class="col-md-9">
        <% @order.order_details.each do |item| %>
            <div class="row">
                * <%= item.cat_picture.title %>
            </div>
        <%end%>
    </div>
</div>