<!-- Title -->
<div class="text-center mb-4">
    <h3>Profil</h3>
    <p>Remplissez le formulaire pour compléter votre profil</p>
</div>
<!-- End Title -->
    
<!-- Formulaire -->
<div class="container col-md-6 justify-content-sm-center">

    <!-- Case précédent le formulaire -->
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <span class="fa fa-user form__text-inner"></span>
            </span>
            </div>
            </div>

            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Votre Prénom</label>
                <input type="text" class="form-control" id="inputDefault">
            </div>    

            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Votre Nom</label>
                <input type="text" class="form-control" id="inputDefault">
            </div>

            <div class="form-group">
                <label for="exampleTextarea">Votre description</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleInputFile">Votre avatar</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            </div>

            <button type="submit" class="btn btn-primary">Valider votre profil</button>
        </div>
    </div>
</div>  
<!-- End Title -->