<div class="col-md-3" align="center">
    <div class="card">
        <%= image_tag item.cat_picture.image_url, size: '300x300', style: "border-radius: 30px;" %>
        <h4 class="card-title"><%= item.cat_picture.title %></h4>
        <p class="card-price"><%= item.cat_picture.price%>€</p>
    </div>
</div>


                    