<div class="card">
    <%= image_tag item.image_url, size: '300x300', style: "border-radius: 30px;" %>
    <h4 class="card-title"><%= item.title %></h4>
    <p class="card-price"><%= item.price%>€</p>
</div>                   