<h1>Qui sommes-nous ?</h1>
<p>Nous sommes un groupe de chacré accro à ces petits félins tout mignon qui ne font que dormir et réclamer 
des calins. Réunis autour de cette passion commune nous avons décidé de créer ce site afin de partager les meilleurs photographies de chats. L'argent collecté sera utilisé pour le bon fontionnement de notre association.<br/>
La fine équipe est composé de: <br/>
 </p>


 <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
         <img class = "square" src="https://media1.tenor.com/images/df7fb4fdc7548867241d9de2bcc5220b/tenor.gif?itemid=11017689" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
        <h2>Caroline</h2>
        <p>La touche maternelle de la team. Elle s'occupe à merveille de nos amis les chats</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
         <img class = "square" src="https://media1.tenor.com/images/df7fb4fdc7548867241d9de2bcc5220b/tenor.gif?itemid=11017689" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
        <h2>Camillia</h2>
        <p></p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class = "square" src="https://media1.tenor.com/images/df7fb4fdc7548867241d9de2bcc5220b/tenor.gif?itemid=11017689" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>        <h2>Fatouma</h2>
        <p>La "chat"sseuse d'animaux perdus. Experte dans l'identification des chats égarés.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class = "square" src="https://media1.tenor.com/images/df7fb4fdc7548867241d9de2bcc5220b/tenor.gif?itemid=11017689" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>        <h2>Clément</h2>
        <p>C'est lui la tête pensante qui s'occupe de coordonner le séjour de nos charmants compagnons.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class = "square" src="https://media1.tenor.com/images/df7fb4fdc7548867241d9de2bcc5220b/tenor.gif?itemid=11017689" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
        <h2>Ton</h2>
        <p>Le garde mangé au grand coeur. Toujours un truc à graille sur lui pour régaler la horde de "chat"cal qui l'entoure.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->