.card {
    width: 200px;
    height: 200px;
    border: 0px #aaa solid;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 20px;
    
    }
   
  .imgcadre{
    
    width: 100%;
    height: auto; 
  }