<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">  
        <br><br><br>

<form>
  <fieldset>
    <legend>Ajout d'un Cat Picture</legend>
    
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="title" class="form-control" id="title" aria-describedby="title" placeholder="Entrer un titre">
    </div>

    <div class="form-group">
      <label for="exampleTextarea">Description</label>
      <textarea class="form-control" id="description" placeholder="Entrer une description" rows="3"></textarea>
    </div>

    <div class="form-group">
  <label class="control-label">Prix</label>
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">€</span>
      </div>
      <input type="text" class="form-control" placeholder="Entrer un prix" aria-label="Amount (€)">
      <div class="input-group-append">
      </div>
    </div>
  </div>
</div>

    <div class="form-group">
      <label for="exampleInputFile">Ajout Photo</label>
      <input type="file" class="form-control-file" id="ajoutphoto" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">La photo sera associé au produit vendu.</small>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

</div>
</div>
</div>