<div class="container mt-5"  >
    <div class="row justify-content-sm-center" style="height:400px">
        <div class="col-sm-8 div-img">
            <img class="img-responsive rounded" src="<%= @cat.image_url %>">
        </div>
    
        <div class="col-sm-4 bg-light">
            <h2><%= @cat.title %> </h2>
            <p><%= @cat.price %> €</p>
        </div>
    </div>
    
    

    <div class="row justify-content-sm-center mt-4"> 
        <h3> Description </h3>
    </div>
    
    <div class="row justify-content-sm-center mt-4">
        <p><%= @cat.description %></p>
    </div>
    
    <!-- Boutons -->
    <div class="row">
    </div>
</div>