<div class="container">

    <h2>Merci pour votre commande !</h2> 
    <%= image_tag('https://i.pinimg.com/originals/45/97/70/459770a2983c886f0473e62097c5006a.gif', size: '350x250') %> 
    <p> Vous avez payé <strong> <%= @amount %> </strong> € !</p>
    <p> Vous allez recevoir un mail avec votre récapitulatif de votre commande ! </p>
    <p> A bientôt !</p>

</div>