<div class="container">

    <h2>Merci pour votre commande !</h2> 
    <%= image_tag('https://gatesbbq.com/wp-content/uploads/2017/04/checkmarksuccess.gif', size: '350x250') %> 
    <p> Vous avez payé <strong> <%= @amount_view %> </strong> € !</p>

</div>