<div class="footer">
  <footer id="footer">
    <div class="row w-100">
      <div class="col-lg-12">
        <p>Made by <a href="https://file1.telestar.fr/var/telestar/storage/images/3/2/6/1/3261630/lee-meriwether-michelle-pfeiffer-anne-hathaway-dans-role-catwoman.jpg?alias=original">Catwoman</a>.</p>
        <p>Based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
        <div class="foot mr-3">
          <p>© 2020 The Hacking Project</p>
        </div>
      </div>
    </div>
  </footer>
</div>

