<footer id="footer">
        <div class="row">
          <div class="col-lg-12">
            <p>Made by <a href="https://github.com/ClementPain/cats_project">L'équipe</a>.</p>
            <p>Based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
            <div class="foot mr-3">
                <p>© 2020 The Hacking Project</p>
                </div>
          </div>
        </div>

      </footer>