<div class="footer">
  <footer id="footer">
    <div class="row w-100">
        <div class="foot mr-3">
        <p>Made by <a href="https://file1.telestar.fr/var/telestar/storage/images/3/2/6/1/3261630/lee-meriwether-michelle-pfeiffer-anne-hathaway-dans-role-catwoman.jpg?alias=original">Catwomen</a></p>
          <p>© 2020 The Hacking Project</p>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/1335/4599/files/logo-payline-paiement-securise_copie_large.png?13151104700673716933" width="180px" height="80px">
      </div>
    </div>
  </footer>
</div>

